# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x
*.elf
*.hex
*.zip


# more stuff
__pycache__

myMediaFile
_compiler_.txt

# ignore Visual Studio stuffs
.vscode/
compile_flags.txt
compile_commands.json
.cmake
.vs
Debug
x64
Release
*.vcxproj.user
.vs/
