# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x
*.elf
*.hex
*.zip


# more stuff
__pycache__
make.log
*.gcda
*.gcno
*.idb
*.pdb
*.ilk
*.lst
*.map
*.nvram
*.jdebug.user

myMediaFile
_compiler_.txt
.vs
*.vcxproj.user
